* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to bottom right, #3286ab, #2118c7, #c914ae);
    color: #fff;
}


/*Global*/
.container {
    width: 90%;
    overflow: hidden;
    margin: auto;
}

.container2 {
    width: 100%;
    margin: auto;
    overflow: hi;
}

.btn {
    padding: 10px;
    background-color: #fc2003;
}

.btn:hover {
    transition: 0.8s;
    color: #000;
    opacity: 75%;
}

.current {
    font-weight: 800;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

/*Header/Nav*/
header {
    margin-top: 15px;
}

header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
}

header h1 {
    position: relative;
    top: 20px;
    left: 10px;
}

/*Nav*/
nav {
    padding: 10px;
    background-image: linear-gradient(to bottom right, #c914ae, #2118c7, #3286ab);
    margin-top: 19px;
    margin-right: 10px;
    width: 35%;
}

nav li {
    display: inline;
}

nav a {
    margin-left: 12px;
    font-size: 18px;
}

ul {
    padding: 0;
    list-style: none;
    display: inline;
    width: 60px;
    text-align: center;
}

nav li {
    display: inline;
    position: relative;
}

/*Transitions*/
a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a:after {
    font-weight: bold;
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 45%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}

/*Showcase*/
#showcase {
    min-height: 400px;
    background: url(../img/background.jpg) no-repeat 0 -400px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #fff;
}

#showcase h1 {
    margin-top: 150px;
    margin-bottom: 30px;
}

#showcase h3 {
    font-size: 15px;
}

/*Boxes*/
#boxes {
    margin-top: 20px;
    text-align: center;
    line-height: 1.5em;
}

#boxes .box {
    float: left;
    width: 95%;
    padding: 10px;
    text-align: center;
}

#boxes .box h3,
p {
    margin-bottom: 15px;
}

#boxes .box h3 {
    font-size: 35px;
    text-shadow: 4px 4px #333;
    margin-top: 20px;
}

#boxes .box img {
    width: 300px;
}

/*Newsletter*/
#newsletter {
    padding: 15px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

#newsletter p {
    margin-top: 20px;
}

/*Footer*/
footer {
    padding: 15px;
    background-color: orange;
    color: #fff;
    text-align: center;
}

footer p {

    margin-top: 20px;
}