* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to bottom right, #3286ab, #2118c7, #c914ae);
    color: #fff;
}

/*Global*/
.container {
    width: 90%;
    overflow: hidden;
    margin: auto;
}

/*Header/Nav*/
header {}